<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
    xsi:schemaLocation="
        http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">

    <bean class="com.beans.Student" id="stdId">
    	<property name="name" value="sagar"></property>
    	<property name="rollNo" value="10"></property>
    	<property name="email" value="sagar@gmail.com"></property>
    </bean>
    
    <bean class="com.beans.Student" id="std2">
    	<property name="name" value="master"></property>
    	<property name="rollNo" value="23"></property>
    	<property name="email" value="master@gmail.com"></property>
    </bean>

</beans>