<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
    xsi:schemaLocation="
        http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">

    <bean class="in.master.bean.Contact" id="contId">
    	<property name="contactName" value="Master"></property>
    	<property name="number" value="9865472125"></property>
    </bean>
    
    <bean class="in.master.bean.Student" id="stdId">
    	<property name="name" value="master"></property>
    	<property name="rollNo" value="23"></property>
    	<property name="contact" ref="contId"></property>
    </bean>

</beans>