.login-form{
	height: 300px;
	width: 300px;
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: column;
	background-color: lightgrey;
}

body{
	display: flex;
	align-items: center;
	justify-content: center;
}
